.section-hero {
    min-height: 70vh;
    display: flex;
    justify-content: center;
}

.section-hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero-button {
    margin: 20px 0;
    width: 50%;
}
